@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Nguyễn Phong Tân</h3>

    <address>
        K22CNT3<br />
        Đại học Nguyễn Trãi<br />
        <abbr title="Phone">Phone number: 0913698863</abbr>
    </address>
    <address>
        <strong>Email:</strong> <a href="mailto:nguyenphongtan2004@gmail.com">nguyenphongtan2004@gmail.com</a>
    </address>
</main>